1) List
2) Tuple
3) Dictionary 
4) Sets

# List

In [2]:
my_list = [20,30,40,50,60,70]

In [3]:
print(my_list)

[20, 30, 40, 50, 60, 70]

In [4]:
print(type(my_list))

<class 'list'>

In [5]:
my_list1 = [66.33,55.33,77.99,50.78]

In [6]:
print(my_list1)

[66.33, 55.33, 77.99, 50.78]

In [7]:
mixed_list = ["hello","pineapple",666,984.5858,True]

In [8]:
print(mixed_list)

['hello', 'pineapple', 666, 984.5858, True]

In [9]:
print(type(mixed_list))

<class 'list'>

list is mutable => (change strucutre of the list)

# Functions of list

In [10]:
mixed_list

['hello', 'pineapple', 666, 984.5858, True]

In [11]:
mixed_list.append(False)

In [12]:
mixed_list

['hello', 'pineapple', 666, 984.5858, True, False]

In [21]:
mixed_list.append('Hello')

In [22]:
mixed_list

['hello', 'pineapple', 666, 984.5858, True, False, 'hello', 'Hello']

In [16]:
mixed_list[0]

'hello'

In [18]:
mixed_list[6]

'hello'

In [19]:
id(mixed_list[0])

139633312749360

In [23]:
id(mixed_list[7])

139633325955952

In [24]:
mixed_list.clear()

In [25]:
mixed_list

[]

In [32]:
mixed_list.append("Hello")

In [33]:
mixed_list

['Test', 'Hello', 'Hello']

In [30]:
mixed_list.count('Hello')

1

In [34]:
mixed_list.index('Hello')

1

In [1]:
mixed_list = ['hello', 'pineapple', 666, 984.5858, True, False, 'hello', 'Hello']

In [2]:
print(mixed_list)

['hello', 'pineapple', 666, 984.5858, True, False, 'hello', 'Hello']

In [3]:
mixed_list.pop()

'Hello'

In [4]:
mixed_list

['hello', 'pineapple', 666, 984.5858, True, False, 'hello']

In [5]:
mixed_list.pop(1)

'pineapple'

In [6]:
mixed_list

['hello', 666, 984.5858, True, False, 'hello']

In [7]:
mixed_list.pop(9)

IndexError: pop index out of range

In [9]:
mixed_list

['hello', 666, 984.5858, True, False, 'hello']

In [12]:
mixed_list.remove('hello')

In [13]:
mixed_list

[666, 984.5858, True, False]

In [14]:
mixed_list.remove('True')

ValueError: list.remove(x): x not in list

In [15]:
mixed_list.remove(True)

In [16]:
mixed_list

[666, 984.5858, False]

In [17]:
numb= [55,44,1,2,3,4,0,7,10,5]

In [18]:
numb.sort()

In [19]:
numb

[0, 1, 2, 3, 4, 5, 7, 10, 44, 55]

In [20]:
numb.sort(reverse=True)

In [21]:
numb

[55, 44, 10, 7, 5, 4, 3, 2, 1, 0]

In [22]:
data = [33,12,30,10,9,8,7,1]

In [23]:
data.reverse()

In [24]:
data

[1, 7, 8, 9, 10, 30, 12, 33]

In [25]:
data.insert(0,"hello")

In [26]:
data

['hello', 1, 7, 8, 9, 10, 30, 12, 33]

In [ ]:
data[1] = 22

In [27]:
new = data.copy()

In [28]:
new

['hello', 1, 7, 8, 9, 10, 30, 12, 33]

In [29]:
data

['hello', 1, 7, 8, 9, 10, 30, 12, 33]

In [30]:
data.pop()

33

In [31]:
data

['hello', 1, 7, 8, 9, 10, 30, 12]

In [32]:
new

['hello', 1, 7, 8, 9, 10, 30, 12, 33]

In [33]:
data

['hello', 1, 7, 8, 9, 10, 30, 12]

In [34]:
copied = data

In [35]:
copied

['hello', 1, 7, 8, 9, 10, 30, 12]

In [36]:
data

['hello', 1, 7, 8, 9, 10, 30, 12]

In [37]:
data.pop()

12

In [38]:
data

['hello', 1, 7, 8, 9, 10, 30]

In [39]:
copied

['hello', 1, 7, 8, 9, 10, 30]

In [40]:
data

['hello', 1, 7, 8, 9, 10, 30]

In [41]:
data.extend([99,100,101,102])

In [42]:
data

['hello', 1, 7, 8, 9, 10, 30, 99, 100, 101, 102]

In [43]:
data

['hello', 1, 7, 8, 9, 10, 30, 99, 100, 101, 102]

In [44]:
data.append("hello")

In [45]:
data

['hello', 1, 7, 8, 9, 10, 30, 99, 100, 101, 102, 'hello']

In [46]:
data.append(["hola","bye"])

In [47]:
data

['hello', 1, 7, 8, 9, 10, 30, 99, 100, 101, 102, 'hello', ['hola', 'bye']]

In [48]:
data[12]

['hola', 'bye']

In [49]:
data[12][0]

'hola'

In [50]:
data[12][1]

'bye'

In [51]:
nested_list = [
    
    ["apple","mango","pineapple"],
    
    ["cricket","football","hockey"]
    
]

In [52]:
print(nested_list)

[['apple', 'mango', 'pineapple'], ['cricket', 'football', 'hockey']]

In [53]:
nested_list[0]

['apple', 'mango', 'pineapple']

In [54]:
nested_list[1]

['cricket', 'football', 'hockey']

In [55]:
nested_list[0][2]

'pineapple'

In [56]:
nested_list[1][1]

'football'

In [57]:
nested_list = [
    [
        ["hello","welcome",33]
    ],
    [
        [222,333,444]
    ]
   
]

In [58]:
nested_list[0][0][1]

'welcome'

In [60]:
nested_list[1][0][1]

333

In [61]:
l = [
    [
        [
            [
                ["i","have","the"],["knowledge","of","programming"]
            ]
        ]
    ]
]

In [65]:
l[0][0][0][1][1]

'of'

In [66]:
l = [[[[['i', 'have', 'the', 'gadi', 'bunglow', 'bank balamce'],
    ['knowledge', 'of', 'of python', 'python']]]]]

In [67]:
l[0][0][0][1][0]

'knowledge'

In [68]:
l[0][0][0][1][3]

'python'

In [69]:
z = [[[[1,
    2,
    3,
    ['how'],
    ['i', 'like', ['java', 'python', 'c++']],
    ['how'],
    ['how']]]]]

In [70]:
z[0][0][0][4][2][1]

'python'

In [71]:
z[0][0][0][5]

['how']

In [72]:
l=[[[[1,2,3,['i','like',['java','python','c++']]]]]]

In [73]:
l[0][0][0][3][1]

'like'

In [74]:
l[0][0][0][3][2][2]

'c++'

In [1]:
l = ['hello']

In [2]:
l

['hello']

# Tuple

In [3]:
my_tup = (100,200,300,400)

In [4]:
print(my_tup)

(100, 200, 300, 400)

In [5]:
print(type(my_tup))

<class 'tuple'>

In [6]:
my_tup1 = ("hello","world",55,True,66.55)

In [7]:
print(my_tup1)

('hello', 'world', 55, True, 66.55)

In [11]:
my_data = ('hello',)

In [12]:
my_data

('hello',)

In [13]:
print(type(my_data))

<class 'tuple'>

In [14]:
len(my_data)

1

In [15]:
my_tup

(100, 200, 300, 400)

In [16]:
my_tup[0]

100

In [17]:
my_tup[0] = 33

TypeError: 'tuple' object does not support item assignment

In [18]:
my_tup.count(100)

1

In [19]:
my_tup.index(300)

2

In [20]:
nested_tup = (

    (100,200,300,400),
    ("hello","hi","bye"),
    (55.44,66.66,77.77)

)

In [21]:
print(nested_tup)

((100, 200, 300, 400), ('hello', 'hi', 'bye'), (55.44, 66.66, 77.77))

In [23]:
nested_tup[0][2]

300

In [25]:
nested_tup[1][1]

'hi'

In [26]:
nested_tup[2][2]

77.77

In [38]:
mixed_tuple = (
    
    [100,200,300,400],
    
    ["hello","hi","bye"],
    
    ["pineapple","mango","apple"]
    
)

In [28]:
print(mixed_tuple)

([100, 200, 300, 400], ['hello', 'hi', 'bye'], ['pineapple', 'mango', 'apple'])

In [29]:
type(mixed_tuple)

tuple

In [30]:
mixed_tuple[0]

[100, 200, 300, 400]

In [31]:
mixed_tuple[1]

['hello', 'hi', 'bye']

In [32]:
mixed_tuple[2]

['pineapple', 'mango', 'apple']

In [33]:
mixed_tuple[0]

[100, 200, 300, 400]

In [34]:
mixed_tuple[0].append(500)

In [35]:
mixed_tuple[0]

[100, 200, 300, 400, 500]

In [36]:
mixed_tuple

([100, 200, 300, 400, 500],
 ['hello', 'hi', 'bye'],
 ['pineapple', 'mango', 'apple'])

In [37]:
len(mixed_tuple)

3

In [39]:
mixed_tuple

([100, 200, 300, 400], ['hello', 'hi', 'bye'], ['pineapple', 'mango', 'apple'])

In [40]:
id(mixed_tuple)

140571902223232

In [41]:
mixed_tuple[0].append(500)

In [42]:
mixed_tuple

([100, 200, 300, 400, 500],
 ['hello', 'hi', 'bye'],
 ['pineapple', 'mango', 'apple'])

In [43]:
id(mixed_tuple)

140571902223232

In [44]:
a=[1,2,3]

In [47]:
a+a

[1, 2, 3, 1, 2, 3]

In [48]:
a

[1, 2, 3]

In [49]:
mixed_list = [
    (10,20,30),
    ("mango","apple","orange"),
    (44.33,55.44,66.00)
    
]

In [50]:
mixed_list

[(10, 20, 30), ('mango', 'apple', 'orange'), (44.33, 55.44, 66.0)]

In [51]:
mixed_list[0]

(10, 20, 30)

In [52]:
mixed_list[1]

('mango', 'apple', 'orange')

In [53]:
mixed_list[2]

(44.33, 55.44, 66.0)

In [54]:
mixed_list[0].append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
mixed_list.append(1000)

In [56]:
mixed_list

[(10, 20, 30), ('mango', 'apple', 'orange'), (44.33, 55.44, 66.0), 1000]

# dictionary

In [57]:
mydict = {
    
    "name":"punit",
    "age":27,
    "qual":"MCA"
    
}

In [58]:
print(mydict)

{'name': 'punit', 'age': 27, 'qual': 'MCA'}

In [59]:
mixed_dict = {
    10:"This is an integer",
    True:"This is a boolean",
    33.22:"This is a floating value",
    "test":"This is a String"
    
}

In [60]:
mixed_dict

{10: 'This is an integer',
 True: 'This is a boolean',
 33.22: 'This is a floating value',
 'test': 'This is a String'}

In [61]:
mixed_dict[10]

'This is an integer'

In [62]:
mixed_dict[True]

'This is a boolean'

In [63]:
mixed_dict[33.22]

'This is a floating value'

In [64]:
mixed_dict['test']

'This is a String'

In [65]:
mixed = {
    
    1:"This is an integer",
    True:"This is boolean",
    1.0:"This is a float"
    
}

In [66]:
mixed[1]

'This is a float'

In [67]:
a=10
a=20
print(a)

20

In [68]:
mixed[1.0]

'This is a float'

In [69]:
a=10
b=10

In [70]:
id(a)

94836024323680

In [71]:
id(b)

94836024323680

In [1]:
mixed_dict = {
    10:"This is an integer",
    True:"This is a boolean",
    33.22:"This is a floating value",
    "test":"This is a String"
    
}

In [73]:
mixed_dict

{10: 'This is an integer',
 True: 'This is a boolean',
 33.22: 'This is a floating value',
 'test': 'This is a String'}

In [74]:
hash(mixed_dict[10])

4797071847643065485

In [75]:
hash(mixed_dict[True])

-4298452522123185461

In [76]:
hash(mixed_dict[33.22])

1728276939585494497

In [77]:
hash(mixed_dict['test'])

2931467215993351263

In [78]:
mixed = {
    
    1:"This is an integer",
    True:"This is boolean",
    1.0:"This is a float"
    
}

In [79]:
hash(mixed[1])

-5892131669011445028

In [80]:
hash(mixed[True])

-5892131669011445028

In [81]:
hash(mixed[1.0])

-5892131669011445028

In [82]:
mixed_dict

{10: 'This is an integer',
 True: 'This is a boolean',
 33.22: 'This is a floating value',
 'test': 'This is a String'}

In [84]:
mixed_dict.keys()

dict_keys([10, True, 33.22, 'test'])

In [85]:
mixed_dict.values()

dict_values(['This is an integer', 'This is a boolean', 'This is a floating value', 'This is a String'])

In [2]:
mixed_dict

{10: 'This is an integer',
 True: 'This is a boolean',
 33.22: 'This is a floating value',
 'test': 'This is a String'}

In [3]:
copied_dict = mixed_dict.copy()

In [4]:
copied_dict

{10: 'This is an integer',
 True: 'This is a boolean',
 33.22: 'This is a floating value',
 'test': 'This is a String'}

In [6]:
mixed_dict.pop(10)

'This is an integer'

In [7]:
mixed_dict.popitem()

('test', 'This is a String')

In [9]:
mixed_dict

{True: 'This is a boolean', 33.22: 'This is a floating value'}

In [10]:
mixed_dict.update({33.22:"This is an updated value "})

In [11]:
mixed_dict

{True: 'This is a boolean', 33.22: 'This is an updated value '}

In [12]:
mixed_dict.update({"Test":"This is a test data"})

In [13]:
mixed_dict

{True: 'This is a boolean',
 33.22: 'This is an updated value ',
 'Test': 'This is a test data'}

In [14]:
mixed_dict.get("Test")

'This is a test data'

In [15]:
mixed_dict['new'] = "Hello"

In [16]:
mixed_dict

{True: 'This is a boolean',
 33.22: 'This is an updated value ',
 'Test': 'This is a test data',
 'new': 'Hello'}

In [17]:
mixed_dict[True]

'This is a boolean'

In [18]:
new = {}

In [19]:
new

{}

In [20]:
new.setdefault("name")

In [21]:
new

{'name': None}

In [22]:
new.update({"name":"punit"})

In [23]:
new

{'name': 'punit'}

In [26]:
new.setdefault("age")

'qual'

In [27]:
new

{'name': 'punit', 'age': 'qual'}

In [29]:
new.popitem()

('age', 'qual')

In [30]:
new

{'name': 'punit'}

In [32]:
new.setdefault("age")

In [33]:
new

{'name': 'punit', 'age': None}

In [35]:
new.setdefault("qual","loc")

'loc'

In [36]:
new

{'name': 'punit', 'age': None, 'qual': 'loc'}

# Nested Dictionary

In [37]:
nested_dict = {
    
    400001:{
        
        "name":"punit",
        "age":27,
        "qual":"MCA",
        "flist":500,
        "hobbies":"coding"
        
    },
    
    400002:{
        
        "name":"atul",
        "age":26,
        "qual":"BE",
        "flist":1000,
        "hobbies":"sports"
        
    },
    
    400003:{
        "name":"jayendra",
        "age":20,
        "qual":"BSC",
        "flist":700,
        "hobbies":"studying"
        
    }
    
    
    
}

In [38]:
nested_dict

{400001: {'name': 'punit',
  'age': 27,
  'qual': 'MCA',
  'flist': 500,
  'hobbies': 'coding'},
 400002: {'name': 'atul',
  'age': 26,
  'qual': 'BE',
  'flist': 1000,
  'hobbies': 'sports'},
 400003: {'name': 'jayendra',
  'age': 20,
  'qual': 'BSC',
  'flist': 700,
  'hobbies': 'studying'}}

In [39]:
nested_dict[400001]

{'name': 'punit', 'age': 27, 'qual': 'MCA', 'flist': 500, 'hobbies': 'coding'}

In [40]:
nested_dict[400002]

{'name': 'atul', 'age': 26, 'qual': 'BE', 'flist': 1000, 'hobbies': 'sports'}

In [41]:
nested_dict[400003]

{'name': 'jayendra',
 'age': 20,
 'qual': 'BSC',
 'flist': 700,
 'hobbies': 'studying'}

In [42]:
nested_dict[400001]['flist']

500

In [43]:
nested_dict[400002]['hobbies']

'sports'

In [44]:
nested_dict[400003]['qual']

'BSC'

In [45]:
nested_dict[400003].update({"hobbies":["cricket","sleeping","cooking","swimming"]})

In [46]:
nested_dict

{400001: {'name': 'punit',
  'age': 27,
  'qual': 'MCA',
  'flist': 500,
  'hobbies': 'coding'},
 400002: {'name': 'atul',
  'age': 26,
  'qual': 'BE',
  'flist': 1000,
  'hobbies': 'sports'},
 400003: {'name': 'jayendra',
  'age': 20,
  'qual': 'BSC',
  'flist': 700,
  'hobbies': ['cricket', 'sleeping', 'cooking', 'swimming']}}

In [48]:
nested_dict[400003]['hobbies'][1]

'sleeping'

In [53]:
Cars={"car1":{"Name":"TATA",
       "Color":"Black",
       "Type":"Disel"},
"car2":{"Name":"Santro",
       "Color":"Red",
       "Type":"Petrol"},
 "car3":{"Name":"Maruti",
       "Color":"Red",
       "Type":"Petrol"}
}

In [54]:
Cars['car2']['Type']

'Petrol'