# Functional Programming

In [1]:
def greet():
    print("Hello I am a Function")

In [4]:
id(greet)

139877958895648

In [6]:
greet()

Hello I am a Function

In [10]:
print(greet())

Hello I am a Function
None

In [7]:
def hello():
    return "HELLO WORLD"

In [8]:
hello()

'HELLO WORLD'

In [9]:
print(hello())

HELLO WORLD

In [20]:
num = 100
def add():
    print(num)
    num1 = 10
    num2 = 20
    res = num1 + num2
    return res

print(num)

print(num1)

100

NameError: name 'num1' is not defined

In [18]:
add()

100

30

In [21]:
def add(num1,num2):
    return num1+num2

In [22]:
add(100,200)

300

In [23]:
inp1 = int(input("Enter Number 1: "))
inp2 = int(input("Enter Number 2: "))
add(inp1,inp2)

Enter Number 1: 90
Enter Number 2: 90

180

In [1]:
def info(name,age):
    print("Name is",name,"And age is",age)

In [25]:
info("Punit",27)

Name is Punit And age is 27

In [26]:
info(27,"Punit")

Name is 27 And age is Punit

In [27]:
info(age=27,name="Punit")

Name is Punit And age is 27

In [2]:
info("punit")

TypeError: info() missing 1 required positional argument: 'age'

In [3]:
def data(name,age=18):
    print("Name is",name, "Age is",age)

In [4]:
data("punit")

Name is punit Age is 18

In [5]:
data("punit",27)

Name is punit Age is 27

In [7]:
def user_data(name):
    print("Name is ",name)
    print("Id/Location of name is ",id(name))
    name = "TEST"
    print("Name is ",name)
    print("Id/Location of name is ",id(name))

In [8]:
user_data("Punit")

Name is  Punit
Id/Location of name is  139717705623344
Name is  TEST
Id/Location of name is  139717705553840

In [9]:
def hobbies_print(lst):
    print("Hobbies are",lst)
    print("ID of Hobbie is ",id(lst))
    lst.append("Cricket")
    print("Hobbies are",lst)
    print("ID of Hobbie is ",id(lst))

In [10]:
hobbies_print(["singing","dancing","swimming"])

Hobbies are ['singing', 'dancing', 'swimming']
ID of Hobbie is  139717704917888
Hobbies are ['singing', 'dancing', 'swimming', 'Cricket']
ID of Hobbie is  139717704917888

In [23]:
def add_func(*num):
    print(num)
    total = 0
    for data in num:
        total = total+data
    print("Sum is",total)

In [26]:
add_func(10,50,30,50,60)

(10, 50, 30, 50, 60)
Sum is 200