In [10]:
total = 1
for number in range(1,11):
    total = total * number
print(total)

3628800

In [4]:
11 in range(1,11)

False

In [12]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [13]:
len(fruit)

9

In [11]:
fruit = "pineapple"

In [18]:
for data in range(0,len(fruit)):
    if(fruit[data] == "a" or fruit[data] == "e" or fruit[data] == "i" or fruit[data] == "o" or fruit[data] == "u"):
        print(fruit[data])
#     print("index is",data,"value is",fruit[data])

i
e
a
e

In [1]:
fruit = "apple"

In [6]:
for value in range(0,len(fruit)):
    if (fruit[value]=='a' or fruit[value] =='e' or fruit[value]=='i' or fruit[value] =='o' or fruit[value]=='u'):
        print(fruit[value].upper())

A
E

In [7]:
hobbies = ['cricket','singing','dancing','cooking','travelling']

In [8]:
for data in hobbies:
    print(data)

cricket
singing
dancing
cooking
travelling

In [12]:
for val in range(0,len(hobbies)):
    print(val,hobbies[val])

0 cricket
1 singing
2 dancing
3 cooking
4 travelling

In [4]:
marks = []

inp_subject = int(input("How many Subject Do you Have: "))
sum_t=0
for data in range(0,inp_subject):
    inp_data = int(input("Enter Marks for the subjects: "))
    marks.append(inp_data)
    sum_t=sum_t+inp_data
print(marks)
print(sum_t)

How many Subject Do you Have: 5
Enter Marks for the subjects: 50
Enter Marks for the subjects: 50
Enter Marks for the subjects: 50
Enter Marks for the subjects: 50
Enter Marks for the subjects: 50
[50, 50, 50, 50, 50]
250

In [1]:
Hobbies=[]
Hobb_Count=int(input("How many hobbies do you have: "))

for Hob in range(0,Hobb_Count):
    hob_input=input("Enter your hobbies: ")
    Hobbies.append(hob_input)

print(Hobbies)

How many hobbies do you have: 5
Enter your hobbies: Cricket
Enter your hobbies: Chess
Enter your hobbies: Reading
Enter your hobbies: Cooking
Enter your hobbies: Football
['Cricket', 'Chess', 'Reading', 'Cooking', 'Football']

In [12]:
Check=[13,6,13,6]
if Check[0]==6 or Check[len(Check)-1]==6:
    print(True)
else:
    print(False)

True

# Tuple

In [13]:
hobbies = ("cricket","swimming","cycling","cooking")

In [15]:
for data in range(0,len(hobbies)):
    print(data,hobbies[data])

0 cricket
1 swimming
2 cycling
3 cooking

# dictionary

In [16]:
my_data = {
    "name":"mark",
    "age":33,
    "location":"SDE",
    "qual":"BE"
}

In [17]:
print(my_data)

{'name': 'mark', 'age': 33, 'location': 'SDE', 'qual': 'BE'}

In [18]:
my_data.keys()

dict_keys(['name', 'age', 'location', 'qual'])

In [19]:
my_data.values()

dict_values(['mark', 33, 'SDE', 'BE'])

In [20]:
my_data.items()

dict_items([('name', 'mark'), ('age', 33), ('location', 'SDE'), ('qual', 'BE')])

In [21]:
for key,value  in my_data.items():
    print(key,value)

name mark
age 33
location SDE
qual BE

In [24]:
for val in my_data.values():
    print(val)

mark
33
SDE
BE

In [25]:
my_data

{'name': 'mark', 'age': 33, 'location': 'SDE', 'qual': 'BE'}

In [27]:
input()

test

'test'

In [29]:
my_dict = {}
inp_keys = int(input("Enter How many Keys do you want: "))
inp_value = int(input("Enter How many Values do you want: "))
if(inp_keys == inp_value):
    for data in range(0,inp_keys):
        key = input("Enter Your Key :")
        value = input("Enter Your Value: ")
        my_dict.update({key:value})
    print(my_dict)
else:
    print("Keys and Values Should be Equal ")

Enter How many Keys do you want: 3
Enter How many Values do you want: 3
Enter Your Key :name
Enter Your Value: punit
Enter Your Key :age
Enter Your Value: 32
Enter Your Key :qual
Enter Your Value: MCA
{'name': 'punit', 'age': '32', 'qual': 'MCA'}

# List Comprehension

In [30]:
l=[]
for i in range(1,11):
    l.append(i)

In [31]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
result = [i for i in range(1,11)]

In [33]:
result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
res = [num**2 for num in range(1,11)]

In [40]:
res

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
res1=[num1**3 for num1 in range(1,11)]

In [43]:
res1

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [44]:
fruit = "pineapple"
l = []

for data in range(0,len(fruit)):
    l.append(fruit[data])
print(l)

['p', 'i', 'n', 'e', 'a', 'p', 'p', 'l', 'e']

In [54]:
list_c='pineapple'
list_d=[list_c[l].upper() for l in range(0,len(list_c))]

In [55]:
list_d

['P', 'I', 'N', 'E', 'A', 'P', 'P', 'L', 'E']

In [59]:
res_1 = [num for num in range(1,21) if num % 2 == 0]

In [60]:
res_1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
res_2=[num1 for num1 in range(1,30) if num1 % 2 !=   0]

In [65]:
res_2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]